h1 {
  background-color: papayawhip;
  margin-bottom: 60px !important;
  margin-top: -100px !important;
  font-family: fantasy !important;
  font-weight: bold !important;
  font-size: 70px !important;
}

.pad {
  width: 250px;
  height: 250px;
  cursor: pointer;
  border-radius: 10px;
}

#pad0:hover, #pad2:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 2px 2px #9ecaed;
  border-right-width: 3px !important;
}

#pad0:active {
  background: #ff4793 !important;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 2px 2px #9ecaed;
  border-right-width: 3px !important;
}

/*#pad0highlight0 {
  background: #fa0067 !important;
}*/

#pad1:hover, #pad3:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 2px 2px #9ecaed;
}

#pad1:active {
  background: #ffb437 !important;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 2px 2px #9ecaed;
}

/*#pad1highlight1 {
  background: #ffa104 !important;
}*/



#pad2:active {
  background: #47ffb3 !important;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 2px 2px #9ecaed;
  border-right-width: 3px !important;
}

/*#pad2highlight2 {
  background: #38cc8f !important;
}*/


#pad3:active {
  background: #4793ff !important;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 2px 2px #9ecaed;
}

/*#pad3highlight3 {
  background: #3875cc !important;
}*/

#onOffButton {
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

#onOffButton:active {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 5px 5px #9ecaed;
}


#startButton {
  border-radius: 50%;
  height: 28px;
  width: 15px;
  display: flex;
  cursor: pointer;
  margin-left: 5px;
  background-color: mediumseagreen;
}

#startButton:hover {
  background-color: green;
}

#startButton:active {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 5px 5px #9ecaed;
}

#startWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#strictButton {
  border-radius: 50%;
  height: 28px;
  width: 15px;
  display: flex;
  cursor: pointer;
  margin-left: 5px;
  background-color: #de7d9c;
}

#strictButton:hover {
  background-color: #c16382;
}

#strictButton:active {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 5px 5px #9ecaed;
}

.card {
  background-color: #393833 !important;
  border-color: ##393833 !important;
  margin-bottom: 10px;
}

.card-title {
  font-size: 20px !important;
}

.card-block {
  padding: 0.5rem !important;
}

.mainContainer {
  display: flex;
  width: 100%;
  height: 850px;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  background-color: papayawhip;
}

.controlPanel {
  position: absolute;
  display: flex;
  flex-flow: column;
  background-color: peachpuff;
  width: 200px;
  height: 200px;
  top: auto;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  contain: strict;
}

.boardContainer {
  position: relative;
}
